<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.4.4" targetFramework="net45" />
  <package id="NPlot" version="0.9.10.0" targetFramework="net45" />
  <package id="OpenTK" version="3.3.3" targetFramework="net45" />
  <package id="OpenTK.GLControl" version="3.3.3" targetFramework="net45" />
  <package id="PDFsharp" version="1.50.5147" targetFramework="net45" />
  <package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.0.118.0" targetFramework="net45" />
  <package id="System.Data.SQLite" version="1.0.118.0" targetFramework="net45" />
  <package id="System.Data.SQLite.Core" version="1.0.118.0" targetFramework="net45" />
  <package id="System.Data.SQLite.EF6" version="1.0.118.0" targetFramework="net45" />
  <package id="System.Data.SQLite.Linq" version="1.0.118.0" targetFramework="net45" />
</packages>